./venv
/venv
venv

./node_modules
/node_modules
node_modules

./app-darwin-x64
/app-darwin-x64
app-darwin-x64

./app-win32-x64
/app-win32-x64
app-win32-x64


./main.build
/main.build
main.build

./main.dist
.main.dist
main.dist

./main.onefile-build
.main.onefile-build
main.onefile-build

./main.bin
.main.bin
main.bin
